In [3]:
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [4]:
# Load the dataset
data = pd.read_excel('./just__test.xlsx')

In [5]:
data.head()

,package name,description
0,Kalinchowk Tour,Kalinchowk is recognized as the snowy paradise...
1,Pokhara Tour,If you are an adventure seekers person and enj...
2,Pokhara Ultimate Sky Adventure,Experience the thrill of soaring through the o...
3,Pokhara Aerial Thrills and Chills,Take your adventure to new heights with this p...
4,Pokhara Canyon Explorer,Brace yourself for an adrenaline-filled advent...

In [6]:
data.describe()

          package name                                        description
count              150                                                150
unique             148                                                150
top     Rara Lake Trek  Kalinchowk is recognized as the snowy paradise...
freq                 2                                                  1

In [7]:
# Preprocess the text data
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()

    # Remove special characters and punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Remove extra whitespaces
    text = re.sub(r'\s+', ' ', text)

    # Tokenize the text
    tokens = text.split()

    # Remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Apply stemming using Porter Stemmer
    stemmer = PorterStemmer()
    tokens = [stemmer.stem(word) for word in tokens]

    # Join the tokens back into a single string
    preprocessed_text = ' '.join(tokens)

    return preprocessed_text

In [8]:
# Apply preprocessing to the description column
data['description'] = data['description'].apply(preprocess_text)

In [9]:


# Initialize the TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer()

In [10]:
# Compute the TF-IDF matrix
tfidf_matrix = tfidf_vectorizer.fit_transform(data['description'])

In [11]:
# Compute the cosine similarity matrix
cosine_similarities = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [12]:
# Compute the cosine similarity matrix
cosine_similarities = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [13]:
# Convert TF-IDF matrix to array
tfidf_array = tfidf_matrix.toarray()

# Create a DataFrame from the array
tfidf_df = pd.DataFrame(tfidf_array, columns=tfidf_vectorizer.get_feature_names())

# Display the DataFrame
print(tfidf_df)

           01        02  10day  12day  14day  1day  2day      3842  3day  \
0    0.132938  0.132938    0.0    0.0    0.0   0.0   0.0  0.132938   0.0
1    0.000000  0.000000    0.0    0.0    0.0   0.0   0.0  0.000000   0.0
2    0.000000  0.000000    0.0    0.0    0.0   0.0   0.0  0.000000   0.0
3    0.000000  0.000000    0.0    0.0    0.0   0.0   0.0  0.000000   0.0
4    0.000000  0.000000    0.0    0.0    0.0   0.0   0.0  0.000000   0.0
..        ...       ...    ...    ...    ...   ...   ...       ...   ...
145  0.000000  0.000000    0.0    0.0    0.0   0.0   0.0  0.000000   0.0
146  0.000000  0.000000    0.0    0.0    0.0   0.0   0.0  0.000000   0.0
147  0.000000  0.000000    0.0    0.0    0.0   0.0   0.0  0.000000   0.0
148  0.000000  0.000000    0.0    0.0    0.0   0.0   0.0  0.000000   0.0
149  0.000000  0.000000    0.0    0.0    0.0   0.0   0.0  0.000000   0.0

     4day  ...  woodwork  work  workshop     world  yak  year  yoga  youll  \
0     0.0  ...       0.0   0.0       0.0  0.000000  0.0   0.0   0.0    0.0
1     0.0  ...       0.0   0.0       0.0  0.077859  0.0   0.0   0.0    0.0
2     0.0  ...       0.0   0.0       0.0  0.132122  0.0   0.0   0.0    0.0
3     0.0  ...       0.0   0.0       0.0  0.000000  0.0   0.0   0.0    0.0
4     0.0  ...       0.0   0.0       0.0  0.119304  0.0   0.0   0.0    0.0
..    ...  ...       ...   ...       ...       ...  ...   ...   ...    ...
145   0.0  ...       0.0   0.0       0.0  0.000000  0.0   0.0   0.0    0.0
146   0.0  ...       0.0   0.0       0.0  0.000000  0.0   0.0   0.0    0.0
147   0.0  ...       0.0   0.0       0.0  0.000000  0.0   0.0   0.0    0.0
148   0.0  ...       0.0   0.0       0.0  0.127465  0.0   0.0   0.0    0.0
149   0.0  ...       0.0   0.0       0.0  0.000000  0.0   0.0   0.0    0.0

     ziplin    zipper
0       0.0  0.000000
1       0.0  0.246435
2       0.0  0.209093
3       0.0  0.000000
4       0.0  0.188808
..      ...       ...
145     0.0  0.000000
146     0.0  0.000000
147     0.0  0.000000
148     0.0  0.000000
149     0.0  0.000000

[150 rows x 1021 columns]

C:\Users\CPN\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [12]:
# Save the cosine similarity model as a pickle file
with open('just__test_model.pkl', 'wb') as f:
    pickle.dump(cosine_similarities, f)